@tailwind base;
@tailwind components;
@tailwind utilities;

/* div {
	outline: 1px solid black;
} */
/* Works on Firefox */

* {
	scrollbar-width: thin;
	scrollbar-color: #2e3440 #bf616a;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: #2e3440;
}

*::-webkit-scrollbar-thumb {
	background-color: #bf616a;
	border-radius: 1rem;
}

.link-underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent), linear-gradient(#bf616a, #bf616a);
	background-size: 0 3px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
}

.link-underline:hover {
	background-size: 100% 3px;
	background-position: 0 100%;
}
